BasedOnStyle: LLVM
ColumnLimit: 100
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
SortIncludes: true
